#main-title {
  text-align: center;
}

.scorebar {
  position: absolute;
  top: 10px;
}

#monster-pane {
  position: absolute;
  right: 3%;
  top: 15%;
}

#upgrade-pane {
  position: absolute;
  left: 3%;
  top: 10%;
}

.name {
  font-weight: bold;
}

.cost {
  font-weight: normal;
  font-style: italic;
}

.monster-list {
}

.monster {
  text-align: right;
}

#arena {
  text-align: center;
}

.health {
}

.upgrade-list {
}
